@charset "UTF-8";

/*Maiores Telas*/

head {}

@media screen and (min-width:992px) and (max-width:1200px) { /*Desktops*/
   
    nav#menu {
        width: 20%;
    }

    #backgroundbanner {
        display: block;
        background-image: url(../imagens/backgorundbanner-desktop.jpg);
        height: 200px;
        background-position: center center;
        background-size: cover;
    }

    #meuscarros ul li {
        margin-right: 60px;
        cursor: pointer;
    }

    #sugestoes, #sugestoes2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width:1200px) {

    #backgroundbanner {
        display: block;
        background-image: url(../imagens/backgorundbanner-televisores.jpg);
        height: 200px;
        background-position: center center;
        background-size: cover;
    }

    #sugestoes, #sugestoes2 {
        width: 40%;
    }

    #sugestoesmaster {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}