@charset "UTF-8";

/*
Palheta de Cores
Azul escuro: #2B3856 
Azul acinzentado: #485A80
Cinza Claro: #E6E6E6
Amarelo Dourado: #FFD700
*/

/*Mobile First*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Courgette&family=Foldit&family=Qwitcher+Grypen&display=swap');

head {}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    background-color: #2B3856;
    padding: 10px;
    height: 60px;
}

header > h1 {
    font-family: 'Foldit', cursive;
    color: rgb(173, 173, 173);
}

nav#menu {
    display: none;
    width: 40%;
    height: 100vh;
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    margin-top: -20px;
    margin-right: 20px;
    margin-left: -20px;
    background-color: #485A80;
    z-index: 1;
}

#mainburguer {
    display: block;
    margin: 10px;
    padding-right: 25px;
    cursor: pointer;
    color: #929292;
}

#burguer {
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #ffffff;
}

nav > ul {
    margin-bottom: 200px;
}

nav > ul > li {
    list-style: none;
    padding: 13px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

nav > ul > li:hover {
    background-color: #2B3856;
    border-radius: 10px;
}

#direitos {
    color: white;
    text-align: center;
}

#backgroundbanner {
    display: block;
    background-image: url(../imagens/backgorundbanner.jpg);
    height: 200px;
    background-position: center center;
    background-size: cover;
}

#meuscarros ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
}

#meuscarros ul li {
    margin: 10px;
    cursor: pointer;
}

#meuscarros ul li:hover {
    color: #FFD700;
}

#apresentaçao {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#apresentaçao > p {
    text-indent: 20px;
    margin: 10px;
}

.dourado {
    font-weight: bolder;
    color: #2B3856;
}
#sugestoes, #sugestoes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.op {
    height: 330px;
    width: 70%;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

.op > h3 {
    margin-bottom: 5px;
}

.op > p {
    text-align: left;
    text-indent: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 0.8em;
}

.imagens {
    width: 100%;
    height: 70%;
}

.mais {
    text-decoration: none;
    color: #000000;
}

.mais::after {
  content: '⚜️';
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

hr {
    margin: 10px 0px;
}

section#rodape ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#rodape ul li {
    list-style: none;
    padding: 10px;
}

section#rodape ul li img {
    width: 20px;
    height: 20px;
}